/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    padding: 0px 16px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
    z-index: 1000;
    height: 60px;
}
.nav-item{
    display: block;
    font-size: 23px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav-link{
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 12px;
    text-decoration: none;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0s;
}

/* projects */
.projects{
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    /* margin-top: 200px; */
}
.pics{
    width: 100%;
    height:auto;
    padding: 20px;
}
.p-b{
    font-size: 30px;
    font-weight: 100;
    margin-left: 30px;
    background-color:white;
    color: black;
    border: 0ch;
    border-color: white;
}
.row-2{
    margin-top: 150px;
}